
.why-choose-us
  //margin-top: 40px
  position: relative
  padding: 0 0 80px 0
  background:
    image: url('https://res.cloudinary.com/cayangroup9292/image/upload/v1521879354/home-page-whyus/_hp-background-pattern.png')
    repeat: no-repeat
    position: center
    size: cover
  &::before
    z-index: -1
    content: ""
    position: absolute
    width: 100%
    height: 100%
    background-color: #222222
  h1
    color: #CDA036
    margin-top: 0 !important
    &::before
      content: "WHY CHOOSE US" !important
      position: absolute
      color: #CDA036
      opacity: 0.07
      font-size: 1.2em
    &::after
      top: 75%

  .whyusTitle
    text-align: right
    right: 0
    letter-spacing: 0
    direction: rtl
    font-family: 'JFRegular', sans-serif
    &::before
      display: none
    &::after
      margin-right: 10px
  .why-choose-us-info
    margin-top: 40px
    color: #fff
    .why-choose-us-info-each
      margin-top: 30px
      .bg
        font-size: 50px
        color: #CDA036
      .why-choose-us-text
        p
          color: #5D5D5D
          line-height: 1.1em
        &.whyusAr
          text-align: right
          direction: rtl
          h6
            font-family: 'JFRegular', sans-serif
          p
            font-family: 'JFLight', sans-serif


@media (max-width: 992px)
  h1
    font-size: 2em !important
